*{
    margin: 0;
    padding: 0;
}

.cuadrito {
    width: 33vw;
    height: 33vw;
    background-color: rgb(94, 94, 164);
    border: 1px black solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fila {
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
}
