* {
    margin: 0;
    padding: 0;
}

.contenedor {
    display: grid;
    grid-template-columns: 20% 50% 10% auto;
    grid-template-rows: auto auto auto;
    /* gap: 10px; */
    /* padding: 10px; */
    /* background-color: fuchsia; */
    /* un dimensión */
    grid-template-areas: 
    'header . aside .' 'header main main main' 'header section footer footer';
}

.elemento {
    text-align: center;
    padding: 20px;
    border: 1px pink solid;
    background-color: rgb(114, 155, 171);
}

.header {
    grid-area: header;
}

.aside {
    grid-area: aside;
}

.main {
    grid-area: main;
}

.section {
    grid-area: section;
}

.footer {
    grid-area: footer;
}

/* PENDIENTE  */
/* boz-sizing */

/* nombrar areas de grid */