.block {
    display: block;
}

.inline {
    display: inline;
    width: 400px;
    height: 200px;
}

.inline-b {
    display: inline-block;
    width: 400px;
    height: 200px;
}

p {
    background-color: blueviolet;
}